.header {
  /* background-color: orange; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  height: fit-content;
}
.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8%;
}

.headerText {
  margin: auto;
  margin-top: 9rem;
  line-height: 1;
  text-align: left;
}

.headerText h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ec930c;
}

.headerImage img {
  /* width: 60%; */
  object-fit: fill;
  margin-left: 30px;
}

.headerText button {
  margin-top: 1rem;
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #091450;
  border: 1px solid #091450;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.headerText button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #091450;
  border: 1px solid #ec930c;
  background-color: #ec930c;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.headerText button:hover::before {
  transform: translateX(0);
  color: #fff;
}

@media screen and (max-width: 770px) {
  .headerSection {
    /* top: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 8%;
    height: 80vh;
  }

  .header {
    height: 100vh;
  }

  .headerText {
    margin: auto;
    padding-top: 1rem;
    line-height: 1;
    text-align: center;
  }

  .headerImage img {
    width: 100%;
    object-fit: fill;
    /* margin-left: 30px; */
    margin: auto;
  }
}
