footer {
  background-color: #091450;
  height: 40vh;
  width: 100%;
  bottom: 0;
  /* position: fixed; */
}

.footerContent {
  padding: 5rem 8% 0;
  display: flex;
  height: 100px;
  margin: auto 0;
  flex-direction: row;
  justify-content: space-between;
}

.footerContent h1 {
  font-size: 25px;
  font-weight: 800;
  color: #fff;
}

.footerContent h2 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.footerContent p {
  color: #7c7979;
  font-size: 12px;
}

@media screen and (max-width: 770px) {
  .footerContent {
    display: block;
  }
}
