@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");

.landingHeader {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.767),
      rgba(10, 9, 10, 0.918)
    ),
    url(../public/assets/bglanding.jpg);
  /* filter: grayscale(100%);
    -webkit-filter: grayscale(100%); */
  background-position: center;
  background-size: cover;
  /* height: 50vh; */
}

.foodCards {
  @apply flex flex-wrap justify-center gap-5;
  margin: 0 10px 5rem;
}

.foodItem {
  /* border: 1px solid #b37709; */
  width: 100%;
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.foodItem img {
  object-fit: cover;
  width: fit-content;
  height: 80%;
  margin: auto;
  border-radius: 10px 10px 0 0;
}

.foodItem:hover {
  border-radius: 0%;
  cursor: pointer;
}

.foodItem img:hover {
  border-radius: 0%;
}

.baseInfor {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 5px;
}

.baseInfor h3 {
  text-transform: capitalize;
  color: #b37709;
}

.baseInfor span {
  color: #b37709;
}

.navBar {
  padding: 10px 9%;
}

@media screen and (max-width: 770px) {
  .foodCards {
    @apply flex-wrap;
  }
}

.foodItem {
  width: 20%;
  flex-wrap: wrap;
}

.foodItem img {
  object-fit: fill;
}

input {
  outline: none;
  @apply border border-yellow-700;
}

.cont {
  @apply w-fit;
}

.formMagin {
  @apply mt-12;
}

.paymentBtn {
  box-shadow: rgba(168, 126, 8, 0.25) 0px 4px 8px -2px,
    rgba(160, 92, 15, 0.08) 0px 0px 0px 1px;
  padding: 3px 20px;
  font-weight: 600;
  background-color: #ec930c;
  color: #fff;
  transition: 0.3s ease;
}

.mp {
  font-size: 20px;

  /* font-size: 60px; */
}

.ppc input {
  display: flex;
  flex-direction: row;
  color: #000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ec930c;
  margin: 20px 2px;
  background: transparent;
  width: fit-content;
}

.paymentSection {
  /* @apply flex border border-yellow-700 m-auto justify-between p-2; */
  display: flex;
  height: 40vh;
  margin: auto;
  width: 60vw;
  margin-bottom: 20rem;
}

.paymentSection img {
  width: 50%;
  object-fit: cover;
  height: auto;
}

.success {
  @apply justify-around m-auto mt-20;
  width: 90%;
}

.paymentSection {
  @apply justify-around m-auto mt-5;
}

.successImg {
  @apply m-auto;
}

.icon-thumpUp {
  @apply text-yellow-600 text-center self-center m-auto mt-20;
  font-size: 90px;
}

/* dashboard styles */
.admin-dashboard {
  @apply flex;
}

.avatar {
  @apply mx-auto;
  border-radius: 50%;
  width: 150px;
}

.profile-section {
  @apply flex-1 p-5 text-center border;
  /* background-color:  #040d35ea; */

  width: 20%;
  height: 100vh;
}

.dashboard {
  @apply bg-white;
  width: 80%;
}

.textHeader {
  font-size: 20px;
  color: #fff;
}

.dashHeader {
  @apply text-center;
  background-image: linear-gradient(to bottom, #2206479d, #040d35ea),
    url(../public/assets/bg2.jpg);
  background-position: center;
  background-size: cover;
  height: 20vh;
}

.profileBtn {
  @apply border border-yellow-700 mt-5 w-full;
}

.updateForm {
  @apply flex-1 gap-4;
}

.updateForm input {
  @apply mt-2;
  width: 100%;
}

.addProductForm {
  @apply border flex flex-col w-fit justify-center gap-5 p-2 mt-2;
  background-color: #eeebe6;
  /* background-color:  #040d35ea; */
  margin-left: auto;
  margin-right: auto;
}

.addBtn {
  @apply m-2 p-1 text-white;
  border: 1px solid white;
  font-size: 12px;
}

.cardBtn {
  @apply border p-1 border-yellow-700;
  font-size: 12px;
}

.addBt {
  @apply border border-yellow-700 m-auto text-yellow-700;
  width: 100px;
  border-radius: 20px;
}
.addProductForm input {
  @apply rounded p-1;
  font-weight: 400;
  font-size: 12px;
}

.displayFood {
  /* border: 1px solid #ec930c; */
  height: 236px;
  padding: 5px 8px;
  width: 20vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.displayFood img {
  object-fit: cover;
  width: fit-content;
  height: 80%;
  margin: auto;
  border-radius: 10px 10px 0 0;
}

.adminCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  /* width: 90%; */
  margin: 0 auto;
  /* overflow: hidden; */
  flex-wrap: wrap;
}

.priceArea {
  display: flex;
  justify-content: space-between;
}

.updateBtn {
  color: #091450;
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
}

.updateIcons:hover {
  cursor: pointer;
  color: #ec930c;
}
.flex {
  margin: 5px;
}

.edit {
  display: none;
}

textarea {
  @apply border border-yellow-700 p-1;
  outline: none;
  font-weight: 400;
  font-size: 12px;
}

.adminCards {
  margin: 2rem 0;
}

@media screen and (max-width: 770px) {
  .displayFood {
    width: 50%;
    margin: 2%;
  }

  .adminCards {
    margin: 0 auto;
  }
}

@media screen and (max-width: 460px) {
  .displayFood {
    width: 90%;
    margin: 2%;
  }

  .adminCards {
    margin: 0 auto;
  }
}

/* end of dashboard style */

/* admin page style */

.pageContainer {
  @apply h-full;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.signUpbtn {
  /* width: 100%; */
  height: 5vh;
  /* border-radius: 50px; */
  box-shadow: rgba(170, 105, 20, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.assesBtn {
  @apply flex justify-between;
  font-size: 12px;
}

.subContainer {
  @apply m-auto border;
  display: flex;
  margin: 5% auto;
  background-color: #fff;
  width: fit-content;
  /* border-radius: 5px; */
  padding: 2px;
  /* top: 50%;
  left: 50%; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  z-index: 10;
}

.adminForm {
  @apply gap-2 p-2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.adminForm .field {
  color: #000;
}
.field {
  @apply p-1 border-none text-sm;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

  border-radius: 5px;
  color: #091450;
}

@media screen and (max-width: 800px) {
  .foodItem {
    width: 200px;
    gap: 20px;
    margin: 0;
  }

  .icon-thumpUp {
    @apply mt-5;
  }

  .success {
    @apply block;
  }
}
.foodCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ppc {
  width: 90%;
}

.pDetail {
  width: 90%;
}

.container {
  width: 90%;
  margin-top: 40px;
}

.paymentSection {
  height: fit-content;
}

/* -----------------------buyers details form styles------------------------- */
.formWrapper {
  padding-top: 1rem;
  height: auto;
}

.formik {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 30%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  height: auto;
  margin: 0 auto 2rem;
  padding: 1rem;
}
.textHeader {
  text-align: center;
  text-transform: capitalize;
}

.textHeader h1 {
  color: #ec930c;
  font-size: 40px;
}

.textHeader p {
  color: #091450;
}

.formik .btn {
  background-color: #091450;
  height: 40px;
  width: 90%;
  margin: auto;
  color: #fff;
  transition: 0.3s ease-in;
}

.formik .btn:hover {
  background-color: #ec930c;
  color: #091450;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0 1.5rem 0;
}

.inputs {
  width: 90%;
  border-radius: 5px;
  padding: 5px;
  height: 50px;
  font-size: 12px;

  margin: auto;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  margin: 10px auto;
  background-color: transparent;
}

@media screen and (max-width: 770px) {
  .formik {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 90%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    height: auto;
    margin: 0 auto 2rem;
    padding: 1rem;
  }
}

/* --------------------------end of buyers details form styles----------------------------- */

@media screen and (max-width: 654px) {
  .paymentSection img {
    display: none;
  }

  .paymentSection {
    text-align: center;
    width: 95%;
  }

  .field {
    width: 100%;
  }

  .paymentBtn {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .paymentSection {
    height: 60vh;
  }
}

@media screen and (max-width: 495px) {
  .foodItem {
    width: 100%;
  }

  .subContainer img {
    display: none;
  }

  .adminForm {
    width: 90vw;
  }
}

/* -----------------admin login form-------------------- */

.login {
  width: 25vw;
  border-radius: 0.75rem;
  /* background-color: rgba(17, 24, 39, 1); */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: 2rem;
  color: #091450;
  margin: 2rem auto;
}

.login h2 {
  text-align: center;
  text-transform: capitalize;
  color: #091450;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.login label {
  color: #ec930c;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 0 auto;
  gap: 15px;
}

.login form button {
  @apply bg-yellow-700;
  color: #fff;
  transition: 0.3s ease-in;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.loginInput {
  margin: 0;
  border: none;
  width: 95%;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 8px 5px;
}

.login form button {
  height: auto;
  margin: auto;
  background-color: #091450;

  padding: 8px 2rem;
  text-transform: uppercase;
}

.abminBtn:hover {
  color: #fff;
  cursor: pointer;
  background-color: #ec930c;
}

@media screen and (max-width: 770px) {
  .login {
    width: 80%;
  }
}

/* -----------------admin login form end------------------ */

.logoutBtn {
  border: 1px solid #b37709;
  margin-top: 23rem;
  position: relative;
  padding: 4px 8px;
  bottom: 0;
}
.logo {
  font-size: 25px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 15px;
}

.sellingBtn {
  margin: 0 8%;
  color: #b37709;
}

.puchaseSection {
  padding: 10px 9%;
  height: auto;
}

.detailsCard {
  display: flex;
  height: auto;
  margin: 55px auto;
  width: 70%;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.detailPicture {
  width: 40%;
  /* background-color: cyan; */
}

.detailPicture img {
  object-fit: cover;
  width: fit-content;
  height: 100%;
  margin: auto;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  justify-content: space-between;
  padding: 10px 5px;
}

.detailsSection h1 {
  font-size: 24px;
  color: #ec930c;
  font-weight: lighter;
  text-transform: capitalize;
  text-decoration: wavy;
}

.detailsSection .btn {
  box-shadow: rgba(168, 126, 8, 0.25) 0px 4px 8px -2px,
    rgba(160, 92, 15, 0.08) 0px 0px 0px 1px;
  padding: 3px 10px;
  font-weight: 600;
  background-color: #091450;
  color: #fff;
  transition: 0.3s ease;
}

.detailsSection p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
  color: #2c210c;
}

.priceAndBtn {
  display: flex;
  justify-content: space-between;
}

.priceAndBtn span {
  height: auto;
  margin: auto 0;
  color: #b37709;
}
.detailsSection .btn:hover {
  color: #ec930c;
  background-color: transparent;
  border: 1px solid #ec930c;
}

@media screen and (max-width: 770px) {
  .admin-dashboard {
    display: block;
  }

  .profile-section {
    display: none;
  }

  .dashboard {
    width: 100vw;
  }

  .addProductForm {
    width: 90vw;
  }

  .detailsCard {
    display: block;
    width: 100%;
  }

  .detailPicture {
    width: 100%;
    /* background-color: cyan; */
  }

  .detailsSection {
    width: 100%;
  }
}

.socialIcons {
  display: flex;
  color: #fff;
  gap: 5px;
  font-size: 20px;
}

.socialIcons > :hover {
  color: #ec930c;
  cursor: pointer;
}

.pageWrapper {
  text-align: center;
}

.pageWrapper h1 {
  font-size: 30px;
  font-weight: bold;
  color: #091450;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* ------------navbar style---------------------- */
.navBar {
  display: flex;
  justify-content: space-between;
  position: static;
  background-color: #091450;
  /* width: 100vw; */
}

.logo {
  height: auto;
  margin: auto 0;
}

.navBar ul {
  color: #ec930c;
  height: auto;
  margin: auto 0;
}

/* ------------navbar style end---------------------- */

/*---------------success page--------------*/

.successtext {
  text-align: center;
  margin-bottom: 4rem;
}

.bts_btn {
  margin: 0 auto;
  background-color: #091450;
  padding: 5px 10px;
  color: #fff;
  transition: 0.3s ease;
}

.bts_btn:hover {
  background-color: #ec930c;
}

/*---------------success page--------------*/
